body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  color: #127681 ;
  font-weight: normal;
}
h3{
  color: #11999E ;
}
a{
  color: #11999E ;
  margin: auto 50px ;
  text-decoration: none;
}
a:hover{
  color: #f4f6ff;
}

h2{
  color: #11999E ;
  margin-top: 50px;
  margin-bottom: 50px ;
}

.sub-heading {
  font-size: 2.5rem;
  color: #127681 ;
}

.top-container {
  background-color: #35d0ba;
  padding-top: 100px;
  font-family: 'Sacramento', cursive;
}

.skill-row{
 width: 50% ;
 margin: auto ;
 margin: 100px auto ;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: relative;
  left: 30%;
}
.skill-image{
  width: 25% ;
  height: 25% ;
  }
  hr{
    border: dotted #e5e5e5 6px;
    width: 30% ;
    margin : auto;
    border-bottom: none ;
    margin-top: 100px;
    margin-bottom: 100px ;
  }

  .profile-image{
    margin: 50px auto;
  }


  .bottom-container{
    background-color: #35d0ba ;
    color: #11999E ;
    padding: 50px 0 50px ;
  }

  .copyright{
    color: white ;
    font-size:10px ;
    padding-top: 50px ;
  }
.contact-me{
  margin: 50px auto;
}

.btn:hover{
color: #c70039 ;
}
.btn{
  font-size: 20px;
}
